
.card-list
    list-style-type: none
    display: inline-block

.card-container
    height: 200px
    width: 300px
    background-color: white
    border: 1px solid grey
    margin-bottom: 16px
    margin-right: 36px

mat-card-header
    padding: 16px 16px 0
    color: blue

mat-paginator
    background-color: grey
