<p>Coffee-details</p>
<li class="card-list" *ngFor="let coffee of coffeeData">
    <mat-card class="card-container">
        <mat-card-header>
            <mat-card-title>{{ coffee.blend_name }}</mat-card-title>
            <mat-card-subtitle>{{ coffee.origin}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>{{ coffee.notes }}</p>
            <p>{{ coffee.intensifier }}</p>
            <p>{{ coffee.variety }}</p>
        </mat-card-content>
    </mat-card>
</li>