<p>Coffee-details</p>
<div class="list-container">
    <li class="card-list" *ngFor="let coffee of data">
        <mat-card class="card-container">
            <mat-card-header>
                <mat-card-title>{{ coffee.blend_name }}</mat-card-title>
                <mat-card-subtitle>{{ coffee.origin}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>{{ coffee.notes }}</p>
                <p>{{ coffee.intensifier }}</p>
                <p>{{ coffee.variety }}</p>
            </mat-card-content>
        </mat-card>
    </li>
    <mat-paginator #paginator [length]="dataSize" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
</div>